@import "~bulma/sass/utilities/initial-variables";

.navbar {

  @media (max-width: ($desktop - 1px)) {
    .is-current {
      text-decoration: underline;
    }
  }

  @media (min-width: $desktop) {
    .is-current:before {
      content: "";
      position: absolute;
      bottom: 0.5em;
      right: 2px;
      left: 2px;
      border-top: 2px solid black;
      border-radius: 25%;
    }
  }
}